<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:1337/ProjectService"
                binding="netTcpBinding"
                contract="CSC3045.Agile.Client.Contracts.IProjectService" />
      <endpoint address="net.tcp://localhost:1337/AccountService"
                binding="netTcpBinding"
                contract="CSC3045.Agile.Client.Contracts.IAccountService" />
      <endpoint address="net.tcp://localhost:1337/AuthenticationService"
                binding="netTcpBinding"
                contract="CSC3045.Agile.Client.Contracts.IAuthenticationService" />
      <endpoint address="net.tcp://localhost:1337/UserStoryService"
                binding="netTcpBinding"
                contract="CSC3045.Agile.Client.Contracts.IUserStoryService" />
      <endpoint address="net.tcp://localhost:1337/BurndownService"
               binding="netTcpBinding"
               contract="CSC3045.Agile.Client.Contracts.IBurndownService" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding maxReceivedMessageSize="2000000" transactionFlow="true">
          <reliableSession enabled="true" />
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
</configuration>